body {
    background-image: linear-gradient(darkblue, white);
    background-attachment: fixed;
}

header {
    height: 100px;
    color: white;
    background-image: repeating-linear-gradient(45deg, darkblue 0% 5%, black 5% 7.5%);
    
    h2 {
        margin-left: 25px;
        font-style: italic;
        font-size: 30px;
    }
}

.video_grid {
    h1 {
        color: white;
        font-size: 30px;
        font-style: italic;
        margin-top: 20px;
        margin-right: 310px;
    }
    
    @media (max-width: 960px) {
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        align-items: center;
    }
    
    @media (min-width: 961px) {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
        align-items: center;
    }
    
}