body {
    background-color: lightblue;
}

h1, h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"] {
    display: flex;
    justify-self: center;
    width: 500px;
    padding: 10px 10px 10px 10px;
    font-size: large;
}

button {
    display: flex;
    justify-self: center;
    padding: 10px 15px 10px 15px;
    background-color: coral;
    border: 1px solid black;
}

table {
    width: 500px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px 15px 10px 15px;
    text-align: center;
    justify-self: center;
}

#meal-chosen {
    visibility: hidden;
}

#meal-chosen.visible {
    visibility: visible;
}

#meal-instructions {
    white-space: pre-wrap;
}

#meal-image {
    width: 350px;
    height: 350px;
}

#ingredients-measurements {
    width: 100%;
    table-layout: fixed;
}